body
{
    margin:0px;

}
h1
{
    font-size:50px;
    color: #f57828;
}

#head_box
{
    /*font*/
    font-family: 'Mukta', sans-serif;


    /*display*/
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    /*window attributes*/
    width:100%;



    /*colors&styles*/

}

#title
{
    grid-column: 1/4;
    padding-left:30px;
    display:grid;
    justify-content: center;
    align-content: end;
    background-color: #000000;
}
.menu_item
{

    display:grid;
    justify-content: center;
    align-content: center;

    font-size:26px;


    background-color: black;
    color:white;


}



.menu_item:hover
{

    background-color: #f57828;

}
